[Desktop Entry]
Type=Application
Exec=/usr/bin/gnome-terminal --maximize
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Terminal
Name=Terminal
Comment[en_US]=Open a terminal
Comment=Open a terminal
